body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#product-details {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2rem;
    color: #333;
    text-align: center;
}

img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    margin: 20px 0;
    align-self: center;
}

p {
    font-size: 1.2rem;
    color: #666;
    margin: 10px 0;
    text-align: center;
}

.price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #27ae60;
    margin-top: 10px;
}

.btn {
    background-color: #27ae60;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    display: inline-block;
}

.btn:hover {
    background-color: #2ecc71;
}
